<div class="row form-group" [formGroup]="parentForm">
    <mat-form-field appearance="outline" class="w-100"  [style.border-radius.px]="borderRadius" 
    [ngClass]="{'error-border': showError()}">
    
      <input
        matInput
        [type]="type"
        [formControlName]="controlName"
        [placeholder]="placeholder"
        [ngClass]="{ 'is-invalid': showError() }"
        class="w-100"
      />
      <mat-icon matSuffix *ngIf="icon">{{ icon }}</mat-icon>
      <button mat-icon-button matSuffix *ngIf="type === 'password' " (click)="togglePasswordVisibility()" type="button">
        <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="showError()">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
  </div>