:root {
  --fc-border-color: red;
  --fc-daygrid-event-dot-width: 50px;
}

th {
  font-size: 14px;
}

table {
  width: 100%;
  border: none !important;
}

h2 {
  margin: 0;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}

li {
  margin: 0.5em 0;
  padding: 0;
}

b {
  margin-right: 3px;
}

.nivish-calendar {
  display: flex;
  min-height: 100%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.nivish-calendar-main {
  flex-grow: 1;
  padding: 3em;
}

.fc {
  max-width: 1240px;
  margin: 0 auto;
}

.fc th {
  border: none;
}

/* Custom CSS */
.fc-col-header-cell {
  border: none !important;
}

.fc-theme-standard td,
.fc-theme-standard th {
  border: 5px solid var(--fc-border-color) !important;
}

.fc .fc-col-header-cell-cushion {
  display: inline-block;
  padding: 120px 400px;
}

.fc-multimonth {
  border: none !important;
}

.nivish-calendar .fc-prev-button,
.nivish-calendar .fc-next-button {
  background-color: transparent;
  font-size: 1.5rem;
  color: #333;
  cursor: pointer;
  justify-content: space-around;
}

.nivish-calendar .fc-prev-button:hover,
.nivish-calendar .fc-next-button:hover {
  color: #000;
}

.event-container {
  display: flex;
  align-items: center;
}

.plus-icon {
  cursor: pointer;
  margin-left: 10px;
  color: blue;
  font-size: 1.5em;
}

.dropdown {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.dropdown label {
  margin-top: 5px;
}

.calendar {
  width: 100%;
}

.calendar th,
.calendar td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  border: none;
}

.today {
  color: rgba(143, 20, 2, 1);
  border: 0.91px solid rgba(143, 20, 2, 1) !important;
  border-radius: 9px !important;
}

.calendar td:hover {
  background-color: #f1f1f1;
}

.calendar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.material-symbols-outlined {
  cursor: pointer;
}

.view-full-calendar {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-align: center;
}

.no-date {
  border: none !important;
}

.demo-inline-calendar-card {
  .full-year-calendar {
    display: flex;
    flex-wrap: wrap;
  }

  .month-calendar {
    width: calc(33% - 20px);
    border: 1px solid rgba(0, 0, 0, 1);
    margin: 20px 10px;
    border-radius: 10px;
  }

  .month-calendar h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .month-calendar .calendar {
    width: 100%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(143, 20, 2, 1);
  padding: 0px 10px;
  color: white;
  font-weight: bold;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.header span {
  cursor: pointer;
  margin-left: 10px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.popup-content {
  width: 300px;
}

.form-group {
  margin-bottom: 10px;
}

.buttons {
  margin-top: 20px;
  text-align: right;
}

.full-year-calendar {
  display: flex;
  flex-wrap: wrap;
}

.month-row {
  width: 50%;
}

.month-calendar {
  margin: 0 10px;
}

.add-event {
  background-color: white;
  color: rgba(143, 20, 2, 1);
  border-radius: 5px;
}

.calendar-shadow {
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);
}

.widthforeventdates {
  width: 250px !important;
}

.color-selection {
  display: flex;
  gap: 10px;
}

.color-option {
  cursor: pointer;
  font-size: 24px;
}

.color-option.selected {
  border: 2px solid black;
  border-radius: 50%;
}

.sunday {
  color: rgba(255, 84, 93, 1) !important;
}

.event-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 2px;
  display: inline-block;
  text-align: center;
}

.event-details {
  padding: 2px;
}

.desc-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 10px;
  display: inline-block;
}

.selected-date {
  margin: 4px;
  column-gap: 10px;
  border-radius: 10px;
}

/* Mobile Styles */
@media only screen and (max-width: 768px) {
  .mobilecal {
    margin-right: 0 !important;
    width: 318px !important;
    border: 1px solid rgb(0, 0, 0);
    margin: 12px -10px !important;
    border-radius: 10px;
  }

  .flotmobile {
    float: none !important;
  }

  .month-calendar {
    width: 100% !important;
    margin: 10px 0;
  }
}
/* Default styles */
.my-component *, .my-component *:after, .my-component *:before {
  box-sizing: border-box !important;
}

/* Override for mobile screens */
@media (max-width: 576px) {
  .my-component *, .my-component *:after, .my-component *:before {
      box-sizing: content-box !important; /* Or another desired value */
  }
}
