<div class="container ">
       <mat-card class="mt-2">
        <div class="row">
          <div class="col-md-6 col-lg-4 ">
            <mat-card>
              <app-pie-chart class="piechart"
                [chartData]="[40, 30, 20, 10]"
                [chartLabels]="['Apples', 'Oranges', 'Bananas', 'Grapes']"
                [colors]="['#FF6384', '#36A2EB', '#FFCE56', '#00A300']">
              </app-pie-chart>
            </mat-card>
          </div>
          <div class="col-md-6 col-lg-4">
            <mat-card>
              
              <h3>Chart or Content Here</h3>
            </mat-card>
          </div>
          <div class="col-md-12 col-lg-4">
            <mat-card>
             
              <h3>More Info or Summary</h3>
            </mat-card>
          </div>
        </div>
  
       
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <mat-card>
              
              <h3>Some other content</h3>
            </mat-card>
          </div>
          <div class="col-md-6 col-lg-4">
            <mat-card>
              
              <h3>Other Information</h3>
            </mat-card>
          </div>
          <div class="col-md-12 col-lg-4">
            <mat-card>
              
              <h3>Summary or Additional Info</h3>
            </mat-card>
          </div>
        </div>
        </mat-card>
      </div>