.add-student-form-min-height{
    min-height: 60vh;
    padding: 24px;
    display: flex;
    justify-content: center;
    
  }

  .mat-mdc-card{
    background-color: #fff;
    padding:20px;
    margin: 20px;
}