
<!-- <mat-toolbar class="mat-elevation-z3">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="collapsed.set(!collapsed())">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Telematics</span>
    <span class="example-spacer"></span>
    
  </mat-toolbar>
  
  <mat-sidenav-container >
    <mat-sidenav opened mode="side" [style.width]="sidenavWidth()" >
      <app-sidebar-component [collapsed]="collapsed()"/>
    </mat-sidenav>
    <mat-sidenav-content [style.margin-left]="sidenavWidth()">    
      <router-outlet /> 
    </mat-sidenav-content>
  </mat-sidenav-container> -->
  <div class="app-container" [class.mobile]="isMobile">
    <app-sidebar></app-sidebar>
    <div class="content">
      <!-- <router-outlet></router-outlet> -->
    </div>
  </div>
 