<div >
    <div class="row m-0 ">
        <div class="col-md-6  flex-center align-center">
            <h1>login</h1>
        </div>
        <div class="col-md-6 align-end">
            
                <mat-card class="login-card boxshadow-form w-100 flex-center h-100 pl-20">
                    <h2>OTP sent</h2>
                    <form (ngSubmit)="otpSubmit()">
                        <!--Mobile icon comes here-->
                        <p class="textcenter">
                          <img *ngIf="mobile" width="50%" class="align-items-center justify-content-center" src="assets/images/logos/ivin-logo.svg">
                        </p>
                        <!--Mobile icon comes here-->
                        <!--Login Form Starts here-->
                        <!-- <app-error class="text-center f-w-400 f-s-14" [errorMessage]="invalidOtp"></app-error> -->
          
                          <h4 class="textcenter">Enter 4 Digits Code</h4>
                          <div class="textcenter f-w-400 f-s-14">Enter the 4 digits code that was sent to your mail for verification</div>
                          <div class="otp-input m-t-40 d-flex otpboxes">
                            <input #input1 type="text" maxlength="1" [(ngModel)]="otpValue[0]" (input)="onOtpInputChange(0, input2, null)" (keydown)="onKeyDown($event, null, input2)" [ngModelOptions]="{ standalone: true }" autofocus  />
                            <input #input2 type="text" maxlength="1" [(ngModel)]="otpValue[1]" (input)="onOtpInputChange(1, input3, input1)" (keydown)="onKeyDown($event, input1, input3)" [ngModelOptions]="{ standalone: true }"  />
                            <input #input3 type="text" maxlength="1" [(ngModel)]="otpValue[2]" (input)="onOtpInputChange(2, input4, input2)" (keydown)="onKeyDown($event, input2, input4)" [ngModelOptions]="{ standalone: true }"  />
                            <input #input4 type="text" maxlength="1" [(ngModel)]="otpValue[3]" (input)="onOtpInputChange(3, null, input3)" (keydown)="onKeyDown($event, input3, null)" [ngModelOptions]="{ standalone: true }"  />
                        </div>
                          <div class="textcenter f-w-400 f-s-14 m-b-54 m-2">
                            {{ otpSentMessage || (otpExpired ? "Your OTP has expired. Click on Resend to get a new   ." : "Didn't receive the code?" ) }}
                            <span [ngStyle]="{'color': resendButtonDisabled ? '#999999' : '#8F1402', 'cursor': resendButtonDisabled ? 'not-allowed' : 'pointer'}"  [attr.disabled]="resendButtonDisabled ? 'disabled' : null" class="text-primary focus:outline-none">
                              {{ countdownSeconds > 0 ? formatCountdownTime(countdownSeconds) : 'Resend' }}
                            </span>
                          </div>
                          <!-- <div class="text-center text-danger m-b-10" *ngIf="invalidDetailsMessage" style="color: red;">
                            {{ invalidDetailsMessage }}
                          </div> -->
                          <mat-card-actions class="flex-center">
                            <button mat-raised-button class="p-l-42 p-r-42 w-50" style="background-color:rgba(143, 20, 2, 1)!important;color: white;" type="submit">Submit</button>
                          </mat-card-actions>
                          <!-- <app-button label="Submit" type="submit"></app-button> -->
                        </form>
                  </mat-card>
        </div>
    </div>
</div>

